@using System.Security.Claims
@inject SignInManager<IdentityUser> SignInManager

@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index">Perfil</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.PDataNavClass(ViewContext)" id="pdata" asp-page="./PData">Dados Pessoais</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="pdata" asp-controller="Requisitas" asp-action="EmpPerfil" asp-route-id="@User.FindFirstValue(ClaimTypes.NameIdentifier)">Empréstimos</a></li>
</ul>
