@{
    ViewData["Title"] = "Biblioteca Teste";
}

<div class="biblioteca-container">
    <div class="biblioteca-info">
        <h1>Biblioteca Teste</h1>
        <br />
        <h4><strong>Horário de Funcionamento:</strong></h4>
        <p>9:00 - 12:00<br>13:00 - 19:00</p>
        <br />
        <h4><strong>Contactos</strong></h4>
        <p>+351 XXXXXXXX<br>+351 XXXXXXXX</p>
    </div>
    <div class="biblioteca-image">
        <img id="imgBib" src="~/images/src/bib.png" alt="Biblioteca" />
    </div>
</div>
