@using Microsoft.AspNetCore.Components

<div class="modal fade" id="backOfficeModal" tabindex="-1" aria-labelledby="backOfficeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="backOfficeModalLabel">BackOffice da Biblioteca</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul class="list-group">
                    <li class="list-group-item">
                        <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">Adicionar Utilizador</a>
                    </li>
                    <li class="list-group-item">
                        <a class="nav-link" asp-action="List" asp-controller="Backoffice">Lista de Utilizadores</a>
                    </li>
                    <li class="list-group-item">
                        <a class="nav-link" asp-action="AdminActions" asp-controller="Backoffice">Alterações de Administradores</a>
                    </li>
                    <li class="list-group-item">
                        <span class="text-dark text-right">Total de Utilizadores:</span> <span>@ViewBag.NumUsers</span>
                    </li>
                    <li class="list-group-item">
                        <span class="text-dark text-right">Total de Livros:</span> <span>@ViewBag.NumLivros</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
